<?xml version='1.0' encoding='utf-8'?>
<widget id="nl.marktplaats.paskamer" version="0.0.1" xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Paskamer</name>
    <description>
        Unleash your creativity and taste! Create, save and share outfits based on any item of clothing available on Marktplaats!
    </description>
    <author email="paskamer@marktplaats.nl" href="http://www.marktplaats.nl">
        Paskamer team, in alphabetical order: Andrei, Angelo, Baran, Lev.
    </author>

    <content src="index.html" />

    <access origin="*" />

    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />

    <gap:plugin name="Camera" value="org.apache.cordova.core.CameraLauncher" />

    <icon src="res/icon.png" />
</widget>
