@charset "UTF-8";
/* line 2, ../scss/_paskamer.scss */
.mp-logo {
    margin: 9px 20px 9px 9px;
    vertical-align: bottom;
}

/* line 7, ../scss/_paskamer.scss */
.scaled {
    z-index: 100;
}

@font-face {
    font-family: 'icomoon';
    src: url("/fonts/icomoon.eot?-effkxt");
    src: url("/fonts/icomoon.eot?#iefix-effkxt") format("embedded-opentype"), url("/fonts/icomoon.woff?-effkxt") format("woff"), url("/fonts/icomoon.ttf?-effkxt") format("truetype"), url("/fonts/icomoon.svg?-effkxt#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* line 12, ../scss/_fonts/icons.scss */
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* line 1, ../scss/_modules/_header.scss */
.header {
    background-color: #ad1d28;
    line-height: 40px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

/* line 6, ../scss/_modules/_header.scss */
#svg-logo {
    margin-left: 28%;
    vertical-align: text-bottom;
}

/* line 11, ../scss/_modules/_header.scss */
#paskamer-logo {
    line-height: 20px;
    margin-left: 7px;
}

/* line 16, ../scss/_modules/_header.scss */
.toggle-push-right {
    float: right;
    padding-top: 12px;
    height: 12px !important;
    margin-top: 12px !important;
    margin-right: 18px !important;
}

/* line 3, ../scss/_modules/_slidemenu.scss */
.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.nav-tabs {
    background-color: #ad1d28;
}

.nav {
    margin-bottom: 0 !important;
}

.tab {
    color: white;
}

.active-tab {
    text-decoration: none;
    background-color: #eee;
    border-color: #eee #eee #ddd;
    webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.active-tab a {
    color: #005580;

}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.my-outfits li {
    list-style-type: none;
}

/* line 14, ../scss/_modules/_slidemenu.scss */
nav.menu {
    position: fixed;
    z-index: 20;
    background-color: #0f8790;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* line 25, ../scss/_modules/_slidemenu.scss */
nav.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* line 30, ../scss/_modules/_slidemenu.scss */
nav.menu a {
    font-weight: 300;
    color: #fff;
}

/* line 34, ../scss/_modules/_slidemenu.scss */
button.close-menu {
    background-color: #ad1d28;
    color: #fff;
}

/* line 38, ../scss/_modules/_slidemenu.scss */
button.close-menu:focus {
    outline: none;
}

/* line 45, ../scss/_modules/_slidemenu.scss */
nav.slide-menu-left,
nav.slide-menu-right,
nav.push-menu-left,
nav.push-menu-right {
    top: 0;
    width: 300px;
    height: 100%;
}

/* line 53, ../scss/_modules/_slidemenu.scss */
nav.slide-menu-left li,
nav.slide-menu-right li,
nav.push-menu-left li,
nav.push-menu-right li {
    display: block;
    text-align: center;
    border-bottom: solid 1px #3184a1;
    border-top: solid 1px #b5dbe9;
}

/* line 62, ../scss/_modules/_slidemenu.scss */
nav.slide-menu-left li:first-child,
nav.slide-menu-right li:first-child,
nav.push-menu-left li:first-child,
nav.push-menu-right li:first-child {
    border-top: none;
}

/* line 68, ../scss/_modules/_slidemenu.scss */
nav.slide-menu-left li:last-child,
nav.slide-menu-right li:last-child,
nav.push-menu-left li:last-child,
nav.push-menu-right li:last-child {
    border-bottom: none;
}

/* line 74, ../scss/_modules/_slidemenu.scss */
nav.slide-menu-left a,
nav.slide-menu-right a,
nav.push-menu-left a,
nav.push-menu-right a {
    display: block;
    padding: 10px;
    font-size: 18px;
}

/* line 82, ../scss/_modules/_slidemenu.scss */
nav.slide-menu-left button.close-menu,
nav.slide-menu-right button.close-menu,
nav.push-menu-left button.close-menu,
nav.push-menu-right button.close-menu {
    margin: 10px 0;
    padding: 10px 30px;
    color: #fff;
}

/* line 88, ../scss/_modules/_slidemenu.scss */
nav.slide-menu-left,
nav.push-menu-left {
    left: -300px;
}

/* line 92, ../scss/_modules/_slidemenu.scss */
nav.slide-menu-right,
nav.push-menu-right {
    right: -300px;
}

/* line 96, ../scss/_modules/_slidemenu.scss */
body.sml-open nav.slide-menu-left,
body.pml-open nav.push-menu-left {
    left: 0;
}

/* line 100, ../scss/_modules/_slidemenu.scss */
body.smr-open nav.slide-menu-right,
body.pmr-open nav.push-menu-right {
    right: 0;
}

/* line 103, ../scss/_modules/_slidemenu.scss */
body.pml-open #wrapper {
    left: 300px;
}

/* line 106, ../scss/_modules/_slidemenu.scss */
body.pmr-open #wrapper {
    left: -300px;
}

@media all and (max-width: 330px) {
    /* line 114, ../scss/_modules/_slidemenu.scss */
    nav.slide-menu-left,
    nav.slide-menu-right,
    nav.push-menu-left,
    nav.push-menu-right {
        top: 0;
        width: 100%;
    }

    /* line 119, ../scss/_modules/_slidemenu.scss */
    nav.slide-menu-left,
    nav.push-menu-left {
        left: -100%;
    }

    /* line 123, ../scss/_modules/_slidemenu.scss */
    nav.slide-menu-right,
    nav.push-menu-right {
        right: -100%;
    }

    /* line 127, ../scss/_modules/_slidemenu.scss */
    body.sml-open nav.slide-menu-left,
    body.pml-open nav.push-menu-left {
        left: 0;
    }

    /* line 131, ../scss/_modules/_slidemenu.scss */
    body.smr-open nav.slide-menu-right,
    body.pmr-open nav.push-menu-right {
        right: 0;
    }

    /* line 134, ../scss/_modules/_slidemenu.scss */
    body.pml-open #wrapper {
        left: 100%;
    }

    /* line 137, ../scss/_modules/_slidemenu.scss */
    body.pmr-open #wrapper {
        left: -100%;
    }
}
/* line 142, ../scss/_modules/_slidemenu.scss */
.item-list-thumbnail {
    height: 40px;
    max-width: 40px;
    margin-left: 10px;
    padding: 5px 0;
}

/* line 149, ../scss/_modules/_slidemenu.scss */
.item-list-thumbnail-fb:hover {
    cursor: pointer;
}

/* line 153, ../scss/_modules/_slidemenu.scss */
.item-list-thumbnail-fb {
    height: 35px;
    max-width: 35px;
    padding: 5px 0px;
    float: right;
    margin-left: 8px;
}

/* line 161, ../scss/_modules/_slidemenu.scss */
.item-list-thumbnail-buy {
    height: 48px;
    max-width: 47px;
    padding-top: 0;
    float: right;
}

/* line 168, ../scss/_modules/_slidemenu.scss */
.outfit-list-item {
    overflow: hidden;
    *zoom: 1;
}

/* line 172, ../scss/_modules/_slidemenu.scss */
.outfit-list-item:hover {
    cursor: pointer;
}

/* line 177, ../scss/_modules/_slidemenu.scss */
.item-list-name {
    display: inline;
    width: 150px;
    word-wrap: break-word;
    font-weight: bold;
    float: left;
}

/* line 185, ../scss/_modules/_slidemenu.scss */
.item-list-img {
    display: inline;
    float: left;
}

/* line 190, ../scss/_modules/_slidemenu.scss */
.nav-toggler {
    font-size: 1.5em;
    margin-left: 0.5em;
    /*margin-top: 0 !important;*/
}

/* line 3, ../scss/_modules/_mannequin.scss */
.mannequin {
    text-align: center;
    position: relative;
}

/* line 8, ../scss/_modules/_mannequin.scss */
.outline {
    width: 300px;
    opacity: 0.25;
}

/* line 1, ../scss/_modules/_slot.scss */
.slot-container {
    margin-top: 4px;
}

/* line 5, ../scss/_modules/_slot.scss */
.slot {
    width: 150px;
    height: 150px;
    line-height: 150px;
    background-color: white;
    background-color: -webkit-radial-gradient(circle, #12a5b0, #0f8790);
    text-align: center;
    display: inline-block;
    border: 2px solid #12a5b0;
}

/* line 31, ../scss/_modules/_slot.scss */
.slot-image {
    max-width: 150px;
    max-height: 147px;
    margin: 0 auto;
}

/* line 37, ../scss/_modules/_slot.scss */
.slot-menu-container {
    display: none;
    margin-left: 10px;
}

/* line 1, ../scss/_modules/_other.scss */
#create-content-container {
}

.content-container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

/* line 8, ../scss/_modules/_other.scss */
.bottom-buttons-container {
    margin-top: 11px;
}

/* line 12, ../scss/_modules/_other.scss */
#random-items-button {
    width: 100px;
    padding: 5px 6px;
    margin-left: 30px;
}

/* line 18, ../scss/_modules/_other.scss */
#random-items-button img {
    width: 30px;
}

#random-outfit-button {
    width: 156px;
    padding: 5px 6px;
}

/* line 18, ../scss/_modules/_other.scss */
#random-outfit-button img {
    width: 30px;
}

/* line 22, ../scss/_modules/_other.scss */
#create-button {
    width: 100px;
    margin-left: 0;
    padding: 5px 6px;
}

/* line 28, ../scss/_modules/_other.scss */
#create-button img {
    width: 30px;
}

/* line 32, ../scss/_modules/_other.scss */
#bg-image {
    background-image: url('../img/woman.png');
    width: 100%;
    height: 94%;
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.55;
}

/* line 1, ../scss/_modules/_select-menu.scss */
.select-menu-type {
    margin-left: 5px;
    width: 90px;
}

/* line 6, ../scss/_modules/_select-menu.scss */
.select-menu-size {
    margin-left: 5px;
    width: 80px;
}

/* line 11, ../scss/_modules/_select-menu.scss */
.select-menu-color {
    display: block;
    width: 80px;
}

/* line 1, ../scss/_modules/_checkbox.scss */
.lock {
    margin-left: 8px;
}

/* line 5, ../scss/_modules/_checkbox.scss */
.lock:hover {
    cursor: pointer;
}

/* line 9, ../scss/_modules/_checkbox.scss */
.lock img {
    max-width: 25px;
    border-radius: 4px;
    padding: 3px;
}

/* line 19, ../scss/_modules/_checkbox.scss */
.checkbox-lock-top {
    top: 58px;
}

/* line 23, ../scss/_modules/_checkbox.scss */
.checkbox-lock-center {
    top: 281px;
}

/* line 27, ../scss/_modules/_checkbox.scss */
.checkbox-lock-bottom {
    top: 548px;
}

/* line 1, ../scss/_modules/_mpbutton.scss */
.button.medium, .button.small {
    padding: 0 1em;
}

/* line 5, ../scss/_modules/_mpbutton.scss */
.button.medium {
    font-size: .813em;
    line-height: 2.154em;
}

/* line 10, ../scss/_modules/_mpbutton.scss */
.button.primary {
    font-size: .938em;
    font-weight: bold;
    color: #fff;
    border: 1px solid #21479c;
    background: #5198ea;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…B5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c4MjkpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #5198ea 0, #21479c 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#5198ea), to(#21479c));
    background: -webkit-linear-gradient(top, #5198ea 0, #21479c 100%);
    background: -o-linear-gradient(top, #5198ea 0, #21479c 100%);
    background: -ms-linear-gradient(top, #5198ea 0, #21479c 100%);
    background: linear-gradient(to bottom, #5198ea 0%, #21479c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5198ea',endColorstr='#21479c',GradientType=0);
    -webkit-box-shadow: #7db3f0 0 1px 0 inset;
    -moz-box-shadow: #7db3f0 0 1px 0 inset;
    box-shadow: #7db3f0 0 1px 0 inset;
}

/* line 29, ../scss/_modules/_mpbutton.scss */
.button, input.button {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    zoom: 1;
    vertical-align: middle;
    text-align: center;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    margin: 0;
    -webkit-appearance: none;
    border-radius: 0;
    font-family: Arial,sans-serif;
}

/* line 3, ../scss/_modules/cylinder.scss */
.carousel-container {
    width: 210px;
    height: 140px;
    position: relative;
    margin: 0 auto;
    border: 1px solid #b1c4df;
    -webkit-perspective: 1100px;
    -moz-perspective: 1100px;
    -o-perspective: 1100px;
    perspective: 1100px;
}

/* line 15, ../scss/_modules/cylinder.scss */
#carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

/* line 25, ../scss/_modules/cylinder.scss */
.ready #carousel {
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
}

/* line 32, ../scss/_modules/cylinder.scss */
#carousel.panels-backface-invisible figure {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* line 39, ../scss/_modules/cylinder.scss */
#carousel figure {
    display: block;
    position: absolute;
    width: 186px;
    height: 116px;
    left: 10px;
    top: 10px;
    border: 2px solid black;
    line-height: 116px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-align: center;
}

/* line 54, ../scss/_modules/cylinder.scss */
.ready #carousel figure {
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    -moz-transition: opacity 1s, -moz-transform 1s;
    -o-transition: opacity 1s, -o-transform 1s;
    transition: opacity 1s, transform 1s;
}

/* line 1, ../scss/_modules/_create.scss */
#create-outfit-container {
    display: none;
    width: 300px;
    height: 145px;
    border: 2px solid #12a5b0;
    background-image: -webkit-radial-gradient(circle, #12a5b0, #0f8790);
    position: absolute;
    top: 40px;
    left: 48px;
    z-index: 100;
}

#introContainer {
    /*display: none;*/
    margin-top: 20px;
    width: 300px;
    height: 450px;
    border: 2px solid #12a5b0;
    background-image: -webkit-radial-gradient(circle, #12a5b0, #0f8790);
    position: absolute;
    text-align: center;
    top: 40px;
    left: 48px;
    z-index: 100;
}

/* line 14, ../scss/_modules/_create.scss */
#create-outfit-close-button {
    position: absolute;
    left: 5px;
    font-size: 17px;
}

/* line 20, ../scss/_modules/_create.scss */
#create-outfit-close-button:hover {
    cursor: pointer;
}

/* line 24, ../scss/_modules/_create.scss */
.create-outfit-header {
    height: 30px;
}

/* line 29, ../scss/_modules/_create.scss */
.outfit-name-label {
    font-size: 14px;
    margin: 5px 8px;
}

.intro-form-label {
    font-size: 13px;
    margin: 5px 8px 0 0;
}

.username-form {
    margin: 15px 15px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-bottom: 10px;
}

.sizes-form {
    margin: 15px 15px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

/* line 34, ../scss/_modules/_create.scss */
input.outfit-name-input {
    width: 130px;
    height: 34px;
    margin-bottom: 0 !important;
}

/* line 34, ../scss/_modules/_create.scss */
input.username-input {
    width: 140px;
    height: 34px;
    margin-bottom: 0 !important;
}

/* line 40, ../scss/_modules/_create.scss */
#create-confirm-button {
    display: inline;
    margin-left: 5px;
}

#name-confirm-button {
    display: inline;
    margin-top: 10px;
    width: 256px;
}

/* line 5, ../scss/_modules/_add.scss */
.add-button:hover {
    cursor: pointer;
}

/* line 9, ../scss/_modules/_add.scss */
.add-button img {
    max-width: 25px;
    border-radius: 4px;
    padding: 3px;
}

/* line 15, ../scss/_modules/_add.scss */
.add-button-form {
    margin: 0 8px 0 0;
    width: 30px;
    display: inline-block;
}

/* line 1, ../scss/_modules/_right-menu.scss */
.slot-settings-container {
    text-align: center;
    padding: 15px 0;
}

/* line 6, ../scss/_modules/_right-menu.scss */
.right-menu-label {
    margin-left: 12px;
}
