@charset "UTF-8";
/* line 2, ../scss/_paskamer.scss */
.mp-logo {
    margin: 9px 20px 9px 9px;
    vertical-align: bottom;
}

/* line 1, ../scss/_modules/_header.scss */
.header {
    background-color: #ad1d28;
}

/* line 5, ../scss/_modules/_header.scss */
.header > .lead {
    line-height: 39px;
}

/* line 1, ../scss/_modules/_mannequin.scss */
.mannequin {
    text-align: center;
    position: relative;
}

/* line 6, ../scss/_modules/_mannequin.scss */
.outline {
    width: 300px;
    opacity: 0.25;
}

/* line 1, ../scss/_modules/_slot.scss */
.slot-container {
    margin-top: 4px;
}

/* line 5, ../scss/_modules/_slot.scss */
.slot {
    width: 200px;
    height: 200px;
    background-color: white;
    background-color: -webkit-radial-gradient(circle, #12a5b0, #0f8790);
    text-align: center;
    display: inline-block;
    border: 2px solid #12a5b0;
}

/* line 30, ../scss/_modules/_slot.scss */
.slot-image {
    max-width: 189px;
    max-height: 189px;
    margin: 0 auto;
}

/* line 36, ../scss/_modules/_slot.scss */
.slot-menu-container {
    display: inline-block;
    margin-left: 10px;
}

/* line 1, ../scss/_modules/_other.scss */
#paskamer-logo {
    line-height: 33px;
}

/* line 5, ../scss/_modules/_other.scss */
#content-container {
    width: 424px;
    position: relative;
    z-index: 1;
}

/* line 11, ../scss/_modules/_other.scss */
#bottom-buttons-container {
    margin: 10px 0;
}

/* line 15, ../scss/_modules/_other.scss */
#capi-random-button {
    width: 175px;
}

/* line 20, ../scss/_modules/_other.scss */
#create-button {
    width: 175px;
    margin-left: 0;
}

/* line 25, ../scss/_modules/_other.scss */
#bg-image {
    background-image: url(/images/woman.png);
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.55;
}

/* line 1, ../scss/_modules/_select-menu.scss */
.select-menu-type {
    display: block;
    width: 80px;
}

/* line 6, ../scss/_modules/_select-menu.scss */
.select-menu-size {
    display: block;
    width: 80px;
}

/* line 11, ../scss/_modules/_select-menu.scss */
.select-menu-color {
    display: block;
    width: 80px;
}

/* line 5, ../scss/_modules/_checkbox.scss */
.checkbox-lock-top {
    top: 58px;
}

/* line 9, ../scss/_modules/_checkbox.scss */
.checkbox-lock-center {
    top: 281px;
}

/* line 13, ../scss/_modules/_checkbox.scss */
.checkbox-lock-bottom {
    top: 548px;
}

/* line 1, ../scss/_modules/_mpbutton.scss */
.button.medium, .button.small {
    padding: 0 1em;
}

/* line 5, ../scss/_modules/_mpbutton.scss */
.button.medium {
    font-size: .813em;
    line-height: 2.154em;
}

/* line 10, ../scss/_modules/_mpbutton.scss */
.button.primary {
    font-size: .938em;
    font-weight: bold;
    color: #fff;
    border: 1px solid #21479c;
    background: #5198ea;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…B5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c4MjkpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #5198ea 0, #21479c 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#5198ea), to(#21479c));
    background: -webkit-linear-gradient(top, #5198ea 0, #21479c 100%);
    background: -o-linear-gradient(top, #5198ea 0, #21479c 100%);
    background: -ms-linear-gradient(top, #5198ea 0, #21479c 100%);
    background: linear-gradient(to bottom, #5198ea 0%, #21479c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5198ea',endColorstr='#21479c',GradientType=0);
    -webkit-box-shadow: #7db3f0 0 1px 0 inset;
    -moz-box-shadow: #7db3f0 0 1px 0 inset;
    box-shadow: #7db3f0 0 1px 0 inset;
}

/* line 29, ../scss/_modules/_mpbutton.scss */
.button, input.button {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    zoom: 1;
    vertical-align: middle;
    text-align: center;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    margin: 0;
    -webkit-appearance: none;
    border-radius: 0;
    font-family: Arial,sans-serif;
}
